body {
  height: 85vh;
  background: url("assets/mooncake.png") no-repeat right/50%,
    url("assets/bg-stars.svg"),
    linear-gradient(130deg, #0f0c29 20%, #1a1a3d, #311047, #5f2c82, #49a09d);
  font-family: "Karantina", cursive;
}

.time {
  color: #92ff63;
  font-size: 250px;
  letter-spacing: 5px;
  margin: 50px 0 50px;
  text-shadow: 5px 5px 5px rgba(19, 19, 20, 0.7);
}

#set-timer {
  width: 650px;
  height: 320px;
  position: absolute;
  left: 395px;
  top: 195px;
  background: url("bg-stars.svg"),
    linear-gradient(130deg, #0f0c29 20%, #1a1a3d, #311047, #5f2c82, #49a09d);
  border-radius: 20px;
  border: 3px solid #000;
  box-shadow: 2px 5px 5px 5px rgba(19, 19, 20, 0.6);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

input {
  width: 80px;
  height: 50px;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  border: solid 3px #000;
}

input:focus {
  outline: none;
  border: solid 3px #92ff63;
}

#set-timer span {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

#go-btn {
  width: 72%;
  height: 45px;
  border-radius: 25px;
  margin: 70px 14%;
  font-family: "Karantina", cursive;
  font-size: 24px;
  letter-spacing: 1px;
  border: solid 3px #000;
  background-color: #fff;
  box-shadow: 0px 3px 3px 3px rgba(19, 19, 20, 0.6);
  text-transform: uppercase;
}

#go-btn:hover {
  background-color: #92ff63;
  cursor: pointer;
}

.inputs {
  margin: 90px 14% 0;
}

#warning {
  display: none;
  font-size: 24px;
  margin: 30px 0 0 14%;
  color: rgb(161, 21, 21);
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(19, 19, 20, 0.7);
  position: absolute;
}

#times-up {
  display: none;
  font-size: 100px;
  color: #e50bdc;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 10px 10px 10px rgba(19, 19, 20, 0.9);
  rotate: -10deg;
  position: absolute;
  top: 120px;
  left: 100px;
}

h1 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 5px;
  rotate: 5deg;
  margin: 100px 0 0 620px;
}

.btn {
  width: 180px;
  height: 42px;
  border-radius: 20px;
  font-family: "Karantina", cursive;
  font-size: 24px;
  text-transform: uppercase;
  border: solid 3px #000;
  letter-spacing: 1px;
  margin-right: 30px;
  box-shadow: 0px 3px 3px 3px rgba(19, 19, 20, 0.6);
}

.container {
  margin-left: 120px;
  text-align: center;
  width: 600px;
}

.btn:hover {
  background-color: #92ff63;
  cursor: pointer;
}

.stop {
  width: 650px;
  height: 320px;
  position: absolute;
  left: 395px;
  top: 195px;
  background: url("gary.png") no-repeat bottom left/40%,
    linear-gradient(130deg, #0f0c29 20%, #1a1a3d, #311047, #5f2c82, #49a09d);
  border-radius: 20px;
  border: 3px solid #000;
  box-shadow: 2px 5px 5px 5px rgba(19, 19, 20, 0.6);
  text-align: center;
}

.stop p {
  color: #fff;
  font-size: 5rem;
  letter-spacing: 1px;
  margin: 60px auto 40px;
}

#scnd-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

#stop-btn {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  font-family: "Karantina", cursive;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.8px;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 18px;
  border: solid 3px #000;
  box-shadow: 0px 3px 3px 3px rgba(19, 19, 20, 0.6);
  cursor: pointer;
}

#stop-btn:hover {
  background-color: #92ff63;
}

.question {
  margin: 100px 0 0 230px;
}

.saved-time span {
  font-size: 6rem;
}
